Repository nimblehq/avishek-phong-kmm-ic, pull requests merged in 2023-05, with the labels that each got.

#93 [Chore] Bump the Android app version to `0.4.0`
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: 0.4.0

#97 [Chore] Bump the Android app version to `0.5.0`
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: type : chore, Android, 0.5.0

#96 [Chore] Bump the iOS app version to 0.5.0
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
Labels: 0.5.0

#87 [#20] [Android] [UI] As a user, I can see the Login screen
  androidApp/build.gradle.kts
  androidApp/src/main/AndroidManifest.xml
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/KmmIcApplication.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/MainActivity.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/PrimaryButton.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/PrimaryTextField.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppNavigation.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/Destination.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/AppTypography.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/ApplicationTheme.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/Color.kt
  androidApp/src/main/res/drawable-hdpi/bg_onboarding.webp
  androidApp/src/main/res/drawable-mdpi/bg_onboarding.webp
  androidApp/src/main/res/drawable-xhdpi/bg_onboarding.webp
  androidApp/src/main/res/drawable-xxhdpi/bg_onboarding.webp
  androidApp/src/main/res/drawable-xxxhdpi/bg_onboarding.webp
  androidApp/src/main/res/font/neuzeit_book.otf
  androidApp/src/main/res/font/neuzeit_heavy.otf
  androidApp/src/main/res/values/strings.xml
  androidApp/src/main/res/values/styles.xml
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: Android, UI, 0.3.0

#94 [#18] [Android] [Integrate] Show the Splash screen when the app starts
  .github/workflows/android_and_shared_automatic_code_review.yml
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/KmmIcApplication.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreen.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreenTest.kt
  androidApp/src/test/resources/robolectric.properties
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/platformModule.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/Koin.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/PlatformModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/PlatformModule.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
Labels: type : feature, Android, integrate, 0.2.0, 0.3.0, 0.4.0

#86 [#7][#21] [iOS] [Integrate] As a user, I can see the log in screen
  androidApp/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  gradle.properties
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC.xcodeproj/xcshareddata/xcschemes/PhongKMMIC Staging.xcscheme
  iosApp/PhongKMMIC.xcodeproj/xcshareddata/xcschemes/PhongKMMIC.xcscheme
  iosApp/PhongKMMIC/Sources/Application/AppDelegate.swift
  iosApp/PhongKMMIC/Sources/Application/KMMICApp.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Splash/SplashView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewModifiers/PrimaryTextFieldModifier.swift
  iosApp/PhongKMMIC/Sources/Presentation/Views/ProgressAnimationView.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/DI/Container.swift
  iosApp/PhongKMMIC/Sources/Supports/Helpers/UITests/LaunchArgument.swift
  iosApp/PhongKMMIC/Sources/Supports/Helpers/UITests/UITestHelper.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/LogInScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/LogInSpec.swift
  iosApp/Podfile
  iosApp/Podfile.lock
  iosApp/fastlane/Fastfile.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Endpoint.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/datasource/TokenLocalDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/body/LogInRequestBody.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/datasource/TokenRemoteDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/helper/extension/Throwable+ErrorMessage.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/repository/AuthenticationRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/repository/AuthenticationRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/CheckLoggedInUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/LogInUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/extension/String+Regex.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/ios/UITestLogout.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/LogInViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SplashViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/AuthenticationRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/LogInUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/LogInViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
Labels: type : feature, iOS, KMM, 0.3.0, 0.4.0

#100 [#11] [KMM] [Backend] As a user, I can see the available surveys
  build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeView.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/DI/Container.swift
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Endpoint.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/datasource/SurveyLocalDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/model/SurveyRealmObject.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/realm/Realm.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/ApiClient.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/datasource/SurveyRemoteDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/SurveyApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/param/GetSurveysQueryParam.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/repository/SurveyRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/LocalModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RemoteModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RepositoryModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/Survey.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/repository/SurveyRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetSurveysUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/AuthenticationRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/SurveyRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/GetSurveysUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/MockUtil.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
Labels: 0.5.0

#101 [#14] [KMM] [Backend] As a user, I can see my profile details
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Endpoint.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/datasource/UserRemoteDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/UserApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/repository/UserRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RemoteModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RepositoryModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/User.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/repository/UserRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetUserProfileUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/UserRepositoryTest.kt
Labels: type : feature, KMM, backend, 0.5.0

#95 [#22] [Android] [Integrate] As a user, I can see the log in screen
  androidApp/build.gradle.kts
  androidApp/src/main/AndroidManifest.xml
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/AlertDialog.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/PrimaryTextField.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppDestination.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppNavigation.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreen.kt
  androidApp/src/main/res/values/strings.xml
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreenTest.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/LogInViewModel.kt
Labels: type : feature, Android, integrate, 0.4.0

#106 [Chore] Bump ios app version to 0.6.0
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
Labels: 0.6.0

#103 [#30] [iOS] [Integrate] As a user, I can see the home screen with surveys
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/Views/HomeHeaderView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/Views/PageViewIndicator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/Views/SurveyContentView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Splash/SplashView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/Foundation/Collection+SafeIndex.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/HomeScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/LogInScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/HomeSpec.swift
  iosApp/fastlane/Constants/Constant.swift
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTimeFormatterImpl.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/model/SurveyRealmObject.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/SurveyApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/Koin.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/HelperModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateFormat.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTime.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTimeFormatter.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/SharedBuildConfig.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyHeaderUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/SurveyRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/UserRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/GetProfileUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/GetSurveysUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/LogInUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/MockUtil.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/HomeViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateFormatter.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTimeFormatterImpl.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
Labels: 0.6.0

#108 [Chore] [Android] Bump android version to 0.6.0
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: type : chore, Android, 0.6.0

#107 [#38] [iOS] [UI] As a user, I can start my survey
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/close.imageset/Contents.json
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/close.imageset/close.pdf
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/white-left-chevron.imageset/Contents.json
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/white-left-chevron.imageset/white-left-chevron.pdf
  iosApp/PhongKMMIC/Resources/Localizations/Localizable.strings
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/AppCoordinator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Navigator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Screen.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/Views/SurveyContentView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyDetail/SurveyDetailView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewModifiers/OnLoadModifier.swift
  iosApp/PhongKMMIC/Sources/Presentation/Views/BlackGradientOverlay.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/SwiftUI/Image+Kingfisher.swift
Labels: type : feature, iOS, UI, 0.6.0

#102 [#37] [Android] [UI] As a user, I can see the Home screen with surveys
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/extension/ModifierExt.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/HorizontalPagerIndicator.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/RtlModalDrawer.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeDrawer.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeFooter.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeHeader.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomePreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/QuestionUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/SurveyUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/UserUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/Color.kt
  androidApp/src/main/res/drawable/ic_arrow_right.xml
  androidApp/src/main/res/values/strings.xml
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: type : feature, Android, UI, 0.5.0

#110 [#46] [iOS] [UI] As a user, I can see a rating answer
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/EmojiAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
Labels: type : feature, iOS, UI, 0.6.0

#111 [#48] [iOS] [UI] As a user, I can see multiple choice answers
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/selectedIcon.imageset/Contents.json
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/selectedIcon.imageset/Icon.pdf
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/unselectedIcon.imageset/Contents.json
  iosApp/PhongKMMIC/Resources/Assets/Assets.xcassets/unselectedIcon.imageset/Icon.pdf
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/MultipleChoiceAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
Labels: type : feature, iOS, UI, 0.6.0

#112 [#54] [iOS] [UI] As a user, I can answer a net promoter score (NPS) question
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Resources/Localizations/Localizable.strings
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/NpsAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
Labels: type : feature, iOS, UI, 0.6.0

#115 [#113] [iOS] [UI] As a user, I can answer a question with a list of answer in a spinner
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/SpinnerAnswerView.swift
Labels: type : feature, iOS, UI, 0.6.0

#116 [#50] [UI] As a user, I can input my answer in a single form
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/SingleFormAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Views/TextEditor.swift
Labels: type : feature, iOS, UI, 0.6.0

#117 [#52] [iOS] [UI] As a user, I can answer a question has multiple forms
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/MultipleFormsAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
Labels: type : feature, iOS, UI, 0.6.0

#105 [#31] [Android] [Integrate] As a user, I can see the home screen with…
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/extension/ModifierExt.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeDrawer.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeFooter.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeHeader.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomePreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/res/drawable/ic_arrow_right.xml
  shared/build.gradle.kts
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTimeFormatterImpl.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetAppVersionUseCaseImpl.kt
  shared/src/androidTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetAppVersionUseCaseImplTest.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/platform/datetime/DateTimeFormatter.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetAppVersionUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyHeaderUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/MockUtil.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/HomeViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/GetAppVersionUseCaseImpl.kt
Labels: 0.5.0, 0.6.0

#128 [Chore] [Android] Bump Android version to 0.7.0
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: Android, 0.7.0

#130 [Chore] bump app version to 0.7.0
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
Labels: type : chore, iOS, 0.7.0

#122 [#44] [iOS] [Integrate] As a user, I can start my survey
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/AppCoordinator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Screen.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Home/HomeView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyDetail/SurveyDetailCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyDetail/SurveyDetailView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/DI/Container.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/HomeScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/SurveyDetailScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/HomeSpec.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/SurveyDetailSpec.swift
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/AnswerApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/Answer.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyDetailViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyDetailViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
Labels: type : feature, iOS, KMM, integrate, 0.6.0, 0.7.0

#118 [#39] [Android] [UI] As a user, I can start my survey
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppDestination.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppNavigation.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeFooter.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomePreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/QuestionUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/SurveyUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/UserUiModel.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyStartContent.kt
  androidApp/src/main/res/drawable/ic_arrow_left.xml
  androidApp/src/main/res/values/strings.xml
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/HomeViewModelTest.kt
Labels: type : release, Android, UI, 0.6.0, 0.7.0

#120 [#41] [#114] [Android] [UI] As a user, I can answer my survey
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomePreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/Spinner.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyStartContent.kt
  androidApp/src/main/res/drawable/ic_close.xml
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/AnswerUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyQuestionUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyUiModel.kt
Labels: 0.6.0, 0.7.0

#129 [#60][#42] [iOS] [Integrate] As a user, I can answer my survey
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Resources/Localizations/Localizable.strings
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/AppCoordinator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Screen.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyDetail/SurveyDetailCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyDetail/SurveyDetailView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/EmojiAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/MultipleChoiceAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/MultipleFormsAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/NpsAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/SingleFormAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/SpinnerAnswerView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/SurveyQuestionContentView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/DI/Container.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/KMM/QuestionDisplayType+EmojiType.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/KMM/UIModels/QuestionUiModel+ObservableObject.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/SwiftUI/Image+Kingfisher.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/SurveyQuestionScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/SurveyQuestionsSpec.swift
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/QuestionApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/AnswerInput.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyQuestionViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/QuestionUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyAnswerUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/MockUtil.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyQuestionViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
Labels: type : feature, iOS, integrate, 0.7.0

#131 [#13] [KMM] [Backend] As a user, I can submit my survey answers
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Endpoint.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/body/AnswerSubmissionRequestBody.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/body/QuestionSubmissionRequestBody.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/body/SurveySubmissionRequestBody.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/datasource/SurveyRemoteDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/repository/SurveyRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/SurveySubmission.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/repository/SurveyRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/SubmitSurveyAnswerUseCase.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/SurveyRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/SubmitSurveyAnswerUseCaseTest.kt
Labels: KMM, backend, 0.7.0

#134 [#45] [Android] [Integrate] As a user, I can start my survey
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomePreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/Spinner.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyStartContent.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreenTest.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/Question.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/AnswerUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/QuestionUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyQuestionUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/LogInViewModelTest.kt
Labels: type : feature, Android, integrate, 0.7.0

#121 [#47] [Android] [UI] As a user, I can see a rating answer
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/home/HomeScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyStartContent.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyQuestionUiModel.kt
Labels: type : feature, Android, UI, 0.6.0

#136 [#62] [iOS] [Integrate] As a user, I can submit my answers
  androidApp/src/test/java/co/nimble/avishek/phong/kmmic/android/helpers/TestDispatchersProvider.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreenTest.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreenTest.kt
  detekt.yml
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsCombineViewModel.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/View/Answer/NpsAnswerView.swift
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/DispatchersProviderImpl.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/HelperModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/AnswerInput.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/DispatcherProvider.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/HomeViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/LogInViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyDetailViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyQuestionViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/AnswerUiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/QuestionUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/MockUtil.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/helper/TestDispatchersProvider.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/LogInViewModelTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyDetailViewModelTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyQuestionViewModelTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/helper/DispatchersProviderImpl.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
Labels: type : feature, iOS, integrate, 0.7.0

#137 [#56][#58] [UI&Integration] As a user, I can see the thank you screen
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Resources/Localizations/Localizable.strings
  iosApp/PhongKMMIC/Resources/Lotties/confetti.json
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/AppCoordinator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Navigator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Screen.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SubmisionSuccess/SubmissionSuccessView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Presentation/Views/LottieView.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/SubmissionSuccessScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/SurveyDetailScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/SurveyQuestionScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/SurveyQuestionsSpec.swift
  iosApp/Podfile
  iosApp/Podfile.lock
Labels: iOS, UI, integrate, 0.7.0

#123 [#51] [Android] [UI] As a user, I can input my answer in a single form
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextArea.kt
Labels: type : feature, Android, UI, 0.6.0, 0.7.0

#124 [#53] [Android] [UI] As a user, I can answer a question with multiple forms
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextFields.kt
Labels: type : feature, Android, UI, 0.6.0, 0.7.0, 0.8.0

#125 [#49] [Android] [UI] As a user, I can see multiple choices answers
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/MultiChoiceForm.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextFields.kt
  androidApp/src/main/res/drawable/ic_checkbox_checked.xml
  androidApp/src/main/res/drawable/ic_checkbox_unchecked.xml
Labels: type : feature, Android, UI, 0.6.0, 0.7.0, 0.8.0

#126 [#55] [Android] [UI] As a user, I can answer a net promoter score (NPS) question
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/NpsBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/res/values/strings.xml
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyAnswerUiModel.kt
Labels: type : feature, Android, UI, 0.6.0, 0.7.0, 0.8.0

#132 [#43] [Android] [UI] As a user, I can submit my answers
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBarPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/Spinner.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/res/values/strings.xml
Labels: type : feature, Android, UI, 0.7.0, 0.8.0

#133 [#57] [Android] [UI] As a user, I can see the thank you screen
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppDestination.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppNavigation.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/thankyou/ThankYouScreen.kt
  androidApp/src/main/res/raw/thank_you.json
  androidApp/src/main/res/values/strings.xml
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreenTest.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: type : feature, Android, UI, 0.7.0, 0.8.0

#141 [#140] [Android] [Integrate] Show confirmation dialog before closing the survey
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/AlertDialog.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/res/values/strings.xml
Labels: type : feature, Android, integrate, 0.7.0

#143 [#140] [Android] [Integrate] Show confirmation dialog before closing …
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/AlertDialog.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/res/values/strings.xml
Labels: type : feature, Android, integrate, 0.8.0
