Repository nimblehq/avishek-phong-kmm-ic, pull requests merged in 2023-04, with the labels that each got.

#16 [#1] Set up base KMM base project
  .github/CODEOWNERS
  .gitignore
  androidApp/build.gradle.kts
  androidApp/src/main/AndroidManifest.xml
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/MainActivity.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/MyApplicationTheme.kt
  androidApp/src/main/res/values/styles.xml
  build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  iosApp/Podfile
  iosApp/Podfile.lock
  iosApp/iosApp.xcodeproj/project.pbxproj
  iosApp/iosApp.xcworkspace/contents.xcworkspacedata
  iosApp/iosApp/Assets.xcassets/AccentColor.colorset/Contents.json
  iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iosApp/iosApp/Assets.xcassets/Contents.json
  iosApp/iosApp/ContentView.swift
  iosApp/iosApp/Info.plist
  iosApp/iosApp/Preview Content/Preview Assets.xcassets/Contents.json
  iosApp/iosApp/iOSApp.swift
  settings.gradle.kts
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/Platform.kt
  shared/src/androidUnitTest/kotlin/co/nimblehq/avishek/phong/kmmic/androidTest.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Greeting.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/Platform.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/commonTest.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/Platform.kt
  shared/src/iosTest/kotlin/co/nimblehq/avishek/phong/kmmic/iosTest.kt
Labels: type : chore, KMM

#68 [#66] [CHORE] Set up Kover code coverage
  androidApp/build.gradle.kts
  build.gradle.kts
  shared/build.gradle.kts
Labels: type : chore, KMM

#69 [#4] Set up CI/CD workflow for testing a PR - Part 1 - Testing the iOS app
  .github/workflows/ios_automatic_code_review.yml
  .gitlab/merge_request_templates/Default.md
  .gitlab/merge_request_templates/Release.md
  iosApp/.swiftlint.yml
  iosApp/Dangerfile
  iosApp/Gemfile
  iosApp/Gemfile.lock
  iosApp/PhongKMMIC.xcodeproj/xcshareddata/xcschemes/PhongKMMIC Staging.xcscheme
Labels: type : chore, iOS

#75 [chore] Bump iOS app version to 0.2.0
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Configurations/Plists/Info.plist
Labels: type : chore, iOS

#78 [#77] [KMM] [Android] [CHORE] Set up unit test step for the Android app and shared module
  .github/workflows/android_and_shared_automatic_code_review.yml
  Dangerfile
  Gemfile
  build.gradle.kts
  detekt.yml
Labels: type : chore, Android, KMM

#74 [#6] [KMM] [Backend] Set up core network layer
  .github/workflows/ios_automatic_code_review.yml
  .github/workflows/release_ios_appstore.yml
  .github/workflows/release_ios_staging.yml
  .gitignore
  androidApp/build.gradle.kts
  build.gradle.kts
  buildKonfig.properties.example
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Configurations.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/FileExt.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  gradle.properties
  iosApp/Podfile.lock
  settings.gradle.kts
  shared/build.gradle.kts
  shared/shared.podspec
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/platformModule.kt
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/androidTest/kotlin/co/nimblehq/avishek/phong/kmmic/androidTest.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/local/datasource/TokenLocalDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/ApiClient.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/HttpRequestBuilderExt.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/body/RefreshTokenRequestBody.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/datasource/TokenRemoteDataSource.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/remote/model/TokenApiModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/data/repository/AuthenticationRepositoryImpl.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/Koin.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/LocalModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/PlatformModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RemoteModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/RepositoryModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/UseCaseModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/AppError.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/model/Token.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/repository/AuthenticationRepository.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/domain/usecase/CheckLoggedInUseCase.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/PlatformModule.kt
  shared/src/iosMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/BaseViewModel.kt
Labels: type : feature, KMM, backend

#84 [Chore] Bump app version to 0.3.0
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
Labels: 0.3.0

#76 [#19] [iOS] [UI] As a user, I can see the log in screen
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Configurations/Plists/Info.plist
  iosApp/PhongKMMIC/Resources/Fonts/NeuzeitSLTStd-Book.otf
  iosApp/PhongKMMIC/Resources/Fonts/NeuzeitSLTStd-BookHeavy.otf
  iosApp/PhongKMMIC/Resources/Localizations/Localizable.strings
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Splash/SplashView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewModifiers/PrimaryButtonModifier.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewModifiers/PrimaryTextFieldModifier.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/SwiftUI/Font+Extension.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Application/ApplicationSpec.swift
Labels: type : feature, iOS, UI, 0.2.0

#79 [#17] [iOS] [Integrate] As a user, I can see a splash screen when app starts
  androidApp/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  iosApp/PhongKMMIC.xcodeproj/project.pbxproj
  iosApp/PhongKMMIC/Sources/Application/AppDelegate.swift
  iosApp/PhongKMMIC/Sources/Application/KMMICApp.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/AppCoordinator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Navigator.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Screen.swift
  iosApp/PhongKMMIC/Sources/Presentation/Coordinator/Transition.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/LogIn/LogInView.swift
  iosApp/PhongKMMIC/Sources/Presentation/Modules/Splash/SplashView.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewId/ViewId.swift
  iosApp/PhongKMMIC/Sources/Presentation/ViewModifiers/AnimationCompletionModifier.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/DI/Container.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/KMM/Koin/KoinApplication.swift
  iosApp/PhongKMMIC/Sources/Supports/Extensions/KMM/ViewModels/SplashViewModel+ObservableObject.swift
  iosApp/PhongKMMIC/Sources/Supports/Helpers/Typealiases/Typealiases.swift
  iosApp/PhongKMMIC/Sources/Supports/Helpers/UITests/LaunchArgument.swift
  iosApp/PhongKMMIC/Sources/Supports/Helpers/UITests/UITestHelper.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/GenericScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Screens/LogInScreen.swift
  iosApp/PhongKMMICKIFUITests/Sources/Specs/Presentation/Module/SplashSpec.swift
  iosApp/Podfile
  iosApp/Podfile.lock
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/Koin.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/extension/Start.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SplashViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/data.repository/AuthenticationRepositoryTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/domain.usecase/CheckLoggedInUseCaseTest.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SplashViewModelTest.kt
Labels: type : feature, iOS, KMM, 0.2.0

#85 [CHORE] Bump Android version to 0.3.0
  androidApp/build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Version.kt
Labels: type : chore, Android, 0.3.0

#82 [#81] [CHORE] Set up CI/CD workflow for distributing Android staging app to Firebase
  .github/workflows/release_android_staging.yml
  .gitignore
  androidApp/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/appPackage/Configurations.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Plugin.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  config/debug.keystore
  signing.properties
Labels: priority : high, type : chore, Android, 0.3.0

#80 [#15] [Android] [UI] As a user, I can see a Splash screen when app starts
  androidApp/src/main/AndroidManifest.xml
  androidApp/src/main/ic_launcher-playstore.png
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/MainActivity.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/splash/SplashScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/ApplicationTheme.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/theme/Color.kt
  androidApp/src/main/res/drawable-hdpi/bg_splash.webp
  androidApp/src/main/res/drawable-mdpi/bg_splash.webp
  androidApp/src/main/res/drawable-xhdpi/bg_splash.webp
  androidApp/src/main/res/drawable-xxhdpi/bg_splash.webp
  androidApp/src/main/res/drawable-xxxhdpi/bg_splash.webp
  androidApp/src/main/res/drawable/ic_launcher_background.xml
  androidApp/src/main/res/drawable/logo_white.xml
  androidApp/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  androidApp/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  androidApp/src/main/res/mipmap-hdpi/ic_launcher.png
  androidApp/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  androidApp/src/main/res/mipmap-hdpi/ic_launcher_round.png
  androidApp/src/main/res/mipmap-mdpi/ic_launcher.png
  androidApp/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  androidApp/src/main/res/mipmap-mdpi/ic_launcher_round.png
  androidApp/src/main/res/mipmap-xhdpi/ic_launcher.png
  androidApp/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  androidApp/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  androidApp/src/main/res/mipmap-xxhdpi/ic_launcher.png
  androidApp/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  androidApp/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  androidApp/src/main/res/values/ic_launcher_background.xml
  androidApp/src/main/res/values/strings.xml
Labels: priority : high, type : feature, Android, UI, 0.2.0, 0.3.0

#91 [#88] [Android] [Chore] Set up CI/CD workflow for distributing Android production app to Firebase
  .github/workflows/release_android_production.yml
Labels: priority : high, type : chore, Android, 0.3.0
