Repository nimblehq/avishek-phong-kmm-ic, pull requests merged in 2023-06, with the labels that each got.

#135 [#59] [Android] [Integrate] As a user, I can see the thank you screen
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/thankyou/ThankYouScreen.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/thankyou/ThankYouScreenTest.kt
Labels: type : feature, Android, integrate, 0.7.0, 0.8.0

#138 [#61] [Android] [Integrate] As a user, I can answer my survey
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/MultiChoiceForm.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/NpsBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/Spinner.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextArea.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextFields.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyAnswerUiModel.kt
Labels: type : release, Android, integrate, 0.7.0, 0.8.0

#139 [#63] [Android] [Integrate] As a user, I can submit my answers
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreenTest.kt
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsCombineViewModel.swift
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyQuestionViewModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyQuestionViewModelTest.kt
Labels: type : feature, Android, integrate, 0.7.0, 0.8.0

#144 Release - 0.8.0
  androidApp/build.gradle.kts
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/common/AlertDialog.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppDestination.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/navigation/AppNavigation.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/MultiChoiceForm.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/NpsBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBar.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/RatingBarPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/Spinner.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailPreviewParameterProvider.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreen.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyQuestionContent.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextArea.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/TextFields.kt
  androidApp/src/main/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/thankyou/ThankYouScreen.kt
  androidApp/src/main/res/drawable/ic_checkbox_checked.xml
  androidApp/src/main/res/drawable/ic_checkbox_unchecked.xml
  androidApp/src/main/res/raw/thank_you.json
  androidApp/src/main/res/values/strings.xml
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/surveydetail/SurveyDetailScreenTest.kt
  androidApp/src/test/java/co/nimblehq/avishek/phong/kmmic/android/ui/screen/thankyou/ThankYouScreenTest.kt
  buildSrc/src/main/kotlin/appPackage/Dependency.kt
  buildSrc/src/main/kotlin/appPackage/Version.kt
  iosApp/PhongKMMIC/Sources/Presentation/Modules/SurveyQuestions/SurveyQuestionsCombineViewModel.swift
  shared/src/androidMain/kotlin/co/nimblehq/avishek/phong/kmmic/di/module/ViewModelModule.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/module/SurveyQuestionViewModel.kt
  shared/src/commonMain/kotlin/co/nimblehq/avishek/phong/kmmic/presentation/uimodel/SurveyAnswerUiModel.kt
  shared/src/commonTest/kotlin/co/nimblehq/avishek/phong/kmmic/presentation.module/SurveyQuestionViewModelTest.kt
Labels: type : release, 0.8.0
